<h1>Contact Us</h1>
<img class="img" src=<%= asset_path "as.jpg" %>>
<div id="contactdiv">
	<div class="container">
	    
		<div class="contact-box">
			<div class="contact-left">
			    <table>
				    <tr>
					    <td>Email</td>
						<td>Thelibrary1951@gmail.com</td>
					</tr>
					<tr>
					    <td>Phone</td>
						<td>+91 9666 00 88 31</td>
					</tr>
					<tr>
					    <td>Address</td>
						<td>336 - apnacomplex,<br>
						 2nd Floor. Bachupally road<br>
						Miyapur, Hyderabad-049</td>
					</tr>
				</table>	 
			</div>
			<div class="contact-right">
			    <h3>Sent your request</h3>
				<form>
                    <div class="input-row">
				        <div class="input-group">
				            <label>First Name </label>
					        <input type="text" placeholder=" ">
					    </div>
						<div class="input-group">
				            <label> Last Name </label>
					        <input type="text" placeholder=" ">
					    </div>
					    
					</div>
					<div class="input-row">
					    <div class="input-group">
				            <label>Phone </label>
					        <input type="text" placeholder=" ">
						</div>
				        <div class="input-group">
				            <label>Email </label>
					        <input type="email" placeholder=" ">
					    </div>
					</div>
					<label>Message</label>
					<textarea rows="5" placeholder=" "></textarea>
					<button type="submit">Send</button>
				</form>
			    
			</div>
			
		</div>
	</div>
</div>